{% extends '_base-dashboard.html' %}
{% block title %}Edit {{ product.title }}{% endblock title %}

{% block breadcrumb %}
<ol class="ms-3 flex items-center whitespace-nowrap" aria-label="Breadcrumb">
  <li class="flex items-center text-sm text-gray-800 dark:text-gray-400">
    Shop manager
    <svg class="flex-shrink-0 mx-3 overflow-visible size-2.5 text-gray-400 dark:text-gray-600" width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M5 1L10.6869 7.16086C10.8637 7.35239 10.8637 7.64761 10.6869 7.83914L5 14" stroke="currentColor" stroke-width="2" stroke-linecap="round"/>
    </svg>
  </li>
  <li class="text-sm font-semibold text-gray-800 truncate dark:text-gray-400" aria-current="page">
    Edit {{ product.title }}
  </li>
</ol>
<!-- End Breadcrumb -->
{% endblock breadcrumb%}

{% block content %}
<div class="tab-group mb-36">
<select id="tab-select" class="sm:hidden py-3 px-4 pe-9 block w-full border-gray-200 rounded-lg text-sm focus:border-blue-500 focus:ring-blue-500 dark:bg-slate-900 dark:border-gray-700 dark:text-gray-400" aria-label="Tabs" role="tablist">
  <option value="#hs-tab-to-select-1">Details</option>
  <option value="#hs-tab-to-select-2">Images</option>
  <option value="#hs-tab-to-select-3">Variations</option>
</select>

<div class="hidden sm:block border-b border-gray-200 dark:border-gray-700">
  <nav class="flex space-x-2" aria-label="Tabs" role="tablist" hs-data-tab-select="#tab-select">
    <button type="button" class="hs-tab-active:bg-white hs-tab-active:border-b-transparent hs-tab-active:text-blue-600 dark:hs-tab-active:bg-gray-800 dark:hs-tab-active:border-b-gray-800 dark:hs-tab-active:text-white -mb-px py-3 px-4 inline-flex items-center gap-2 bg-gray-50 text-sm font-medium text-center border text-gray-500 rounded-t-lg hover:text-gray-700 disabled:opacity-50 disabled:pointer-events-none dark:bg-gray-700 dark:border-gray-700 dark:text-gray-400 dark:focus:outline-none dark:focus:ring-1 dark:focus:ring-gray-600 active" id="hs-tab-to-select-item-1" data-hs-tab="#hs-tab-to-select-1" aria-controls="hs-tab-to-select-1" role="tab">
      Details
    </button>
    <button type="button" class="hs-tab-active:bg-white hs-tab-active:border-b-transparent hs-tab-active:text-blue-600 dark:hs-tab-active:bg-gray-800 dark:hs-tab-active:border-b-gray-800 dark:hs-tab-active:text-white -mb-px py-3 px-4 inline-flex items-center gap-2 bg-gray-50 text-sm font-medium text-center border text-gray-500 rounded-t-lg hover:text-gray-700 disabled:opacity-50 disabled:pointer-events-none dark:bg-gray-700 dark:border-gray-700 dark:text-gray-400 dark:focus:outline-none dark:focus:ring-1 dark:focus:ring-gray-600" id="hs-tab-to-select-item-2" data-hs-tab="#hs-tab-to-select-2" aria-controls="hs-tab-to-select-2" role="tab">
      Images
    </button>
    <button type="button" class="hs-tab-active:bg-white hs-tab-active:border-b-transparent hs-tab-active:text-blue-600 dark:hs-tab-active:bg-gray-800 dark:hs-tab-active:border-b-gray-800 dark:hs-tab-active:text-white -mb-px py-3 px-4 inline-flex items-center gap-2 bg-gray-50 text-sm font-medium text-center border text-gray-500 rounded-t-lg hover:text-gray-700 disabled:opacity-50 disabled:pointer-events-none dark:bg-gray-700 dark:border-gray-700 dark:text-gray-400 dark:focus:outline-none dark:focus:ring-1 dark:focus:ring-gray-600" id="hs-tab-to-select-item-3" data-hs-tab="#hs-tab-to-select-3" aria-controls="hs-tab-to-select-3" role="tab">
      Variations
    </button>
  </nav>
</div>
<form id="product-form" method="POST" class="">

<div class="mt-6">
  <div id="hs-tab-to-select-1" role="tabpanel" aria-labelledby="hs-tab-to-select-item-1">
    <div class="p-3 sm:p-0 grid grid-cols-1 gap-6">

    
        {% csrf_token %}
        {{ form.as_p }}
    
      
      
    </div>
  </div>

  <div id="hs-tab-to-select-2" class="hidden" role="tabpanel" aria-labelledby="hs-tab-to-select-item-2">
    <div class="p-3 sm:p-0">
      
      <div id="image-formset">
        {{ formset.management_form }}
        <div class="flex flex-wrap gap-6">
          {% for form in formset %}
            <div class="image-form w-36">
              {% if form.instance.pk %}
                <div class="w-36 h-36">
                  <img src="{{ form.instance.image.url }}" alt="{{ form.instance.alt_text }}" class="object-cover w-36 h-36 rounded">
                </div>
                {{ form.id }}
                <input type="text" name="{{ form.alt_text.html_name }}" id="{{ form.alt_text.id_for_label }}" value="{{ form.alt_text.value|default:'' }}" class="my-3 py-3 px-4 block w-full border-gray-200 rounded-lg text-sm focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none dark:bg-slate-900 dark:border-gray-700 dark:text-gray-400 dark:focus:ring-gray-600" placeholder="Alt text">
                <div class="flex">
                  <input type="checkbox" name="{{ form.DELETE.html_name }}" id="{{ form.DELETE.id_for_label }}" class="shrink-0 mt-0.5 border-gray-200 rounded text-blue-600 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none dark:bg-gray-800 dark:border-gray-700 dark:checked:bg-blue-500 dark:checked:border-blue-500 dark:focus:ring-offset-gray-800">
                  <label for="{{ form.DELETE.id_for_label }}" class="text-sm text-gray-500 ms-3 dark:text-gray-400">Delete</label>
                </div>
              {% else %}
              <div class="w-36 h-36 border rounded dark:border-gray-700 mb-3">
              </div>
                {{ form.image }}
                {% endif %}
              {% if form.errors %}
                <div class="error">
                  {% for field, errors in form.errors.items %}
                    {% for error in errors %}
                      <p>{{ field }}: {{ error }}</p>
                    {% endfor %}
                  {% endfor %}
                </div>
              {% endif %}
            </div>
          {% endfor %}
          {% if formset.non_form_errors %}
            <div class="error">
              {% for error in formset.non_form_errors %}
                <p>{{ error }}</p>
              {% endfor %}
            </div>
          {% endif %}
        </div>
      </div>
    
    </div>
  </div>

  <div id="hs-tab-to-select-3" class="hidden" role="tabpanel" aria-labelledby="hs-tab-to-select-item-3">
    <div class="p-3 sm:p-0">
      <div id="variations">
        {{ variant_formset.management_form }}
        {% for form in variant_formset %}
            <div class="variant-form">
                {{ form.as_p }}
            </div>
        {% endfor %}
    </div>
    </div>
  </div>

</div>
</div>
<div class= "fixed bottom-0 right-0">
  <div class="mb-6 mr-6">
    <button type="submit" form="product-form" class="button-primary z-[100]">Save changes</button>  
  </div>
</div>
</form>

{% endblock %}
