
                <tr class="bg-white hover:bg-gray-50 dark:bg-slate-900 dark:hover:bg-slate-800">
                  <td class="size-px px-3 min-w-48 whitespace-nowrap">
                    {{ form.id }}
                    <input type="text" name="{{ form.title.html_name }}" id="{{ form.title.id_for_label }}" value="{{ form.title.value|default:'' }}" class="py-2 px-4 block w-full border-gray-200 rounded-lg text-sm focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none dark:bg-slate-900 dark:border-gray-700 dark:text-gray-400 dark:focus:ring-gray-600" placeholder="Title">
                    {% if form.title.errors %}
                      <div class="error">
                        {% for error in form.title.errors %}
                          <p>{{ error }}</p>
                        {% endfor %}
                      </div>
                    {% endif %}

                </td>
                  <td class="size-px px-3  min-w-48">
                    {% if form.instance.image %}
                        <img src="{{ form.instance.image.url }}" alt="Variation Image" width="100">
                      {% endif %}
                      <input type="file" name="{{ form.image.html_name }}" id="{{ form.image.id_for_label }}" class="py-3 px-4 block w-full border-gray-200 rounded-lg text-sm focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none dark:bg-slate-900 dark:border-gray-700 dark:text-gray-400 dark:focus:ring-gray-600">
                      {% if form.image.errors %}
                        <div class="error">
                          {% for error in form.image.errors %}
                            <p>{{ error }}</p>
                          {% endfor %}
                        </div>
                      {% endif %}

  
                  </td>
                  <td class="size-px px-3 min-w-24 whitespace-nowrap">
                    <input type="text" name="{{ form.price.html_name }}" id="{{ form.price.id_for_label }}" value="{{ form.price.value|default:'' }}" class="py-3 px-4 block w-full border-gray-200 rounded-lg text-sm focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none dark:bg-slate-900 dark:border-gray-700 dark:text-gray-400 dark:focus:ring-gray-600" placeholder="Price">
                    {% if form.price.errors %}
                      <div class="error">
                        {% for error in form.price.errors %}
                          <p>{{ error }}</p>
                        {% endfor %}
                      </div>
                    {% endif %}
                  </td>
                  <td class="size-px px-3 min-w-24 whitespace-nowrap">
                    <input type="text" name="{{ form.sku.html_name }}" id="{{ form.sku.id_for_label }}" value="{{ form.sku.value|default:'' }}" class="py-3 px-4 block w-full border-gray-200 rounded-lg text-sm focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none dark:bg-slate-900 dark:border-gray-700 dark:text-gray-400 dark:focus:ring-gray-600" placeholder="SKU">
                    {% if form.sku.errors %}
                      <div class="error">
                        {% for error in form.sku.errors %}
                          <p>{{ error }}</p>
                        {% endfor %}
                      </div>
                    {% endif %}
                  </td>
                  
                  <td class="size-px spx-3 min-w-24 whitespace-nowrap">
                    {% if form.instance.pk %}
                        <div class="flex">
                            <input type="checkbox" name="{{ form.DELETE.html_name }}" id="{{ form.DELETE.id_for_label }}" class="shrink-0 mt-0.5 border-gray-200 rounded text-blue-600 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none dark:bg-gray-800 dark:border-gray-700 dark:checked:bg-blue-500 dark:checked:border-blue-500 dark:focus:ring-offset-gray-800">
                            <label for="{{ form.DELETE.id_for_label }}" class="text-sm text-gray-500 ms-3 dark:text-gray-400">Delete</label>
                        </div>
                    {% endif %}
                </tr>
  
               
 